html
{
    font-family: Bradley Hand, the lazy dog;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/a4/Math_paper.PNG");
    var wings_focus = 1;
}

.flexform
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: auto;
    height: 540px;
    background-image: url(https://i.pinimg.com/originals/ef/a2/6d/efa26d5155d33811c2cb05d67fe88210.png);
    background-position: center;
    background-repeat: no-repeat;
}

.flex_item
{
    color: blue;
    border: 2px solid rgb(123, 153, 183);
    margin: 15px;
    width: 250px;
    height: 30px;
    border-radius: 5px;
    transition: 1s;
    box-shadow: 2px 2px 10px 4px gray;
    outline: none;
    background-color: white;
}

.flex_item:hover
{
    box-shadow: 2px 2px 5px 4px rgb(112, 112, 112);
}

.flex_item:focus
{
  animation-name: example;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes example
{
0% {box-shadow: 2px 2px 5px 4px rgba(255, 0, 0, 10);}
50% {box-shadow: 2px 2px 5px 4px rgba(0, 255, 0, 10);}
100% {box-shadow: 2px 2px 5px 4px rgba(0, 0, 255, 10);}
}
